.Country {
  height: 100%;
  margin: 16px 0;
  background: var(--brown-grey);
  padding: 0 0;
}

.Country > header {
  padding: 8px 0;
  text-align: center;
  color: var(--white);
  background-color: var(--brown-grey);
}

.Country > header > h2 {
  text-transform: uppercase;
}

.Country > .country-wrapper {
  display: flex;
  max-width: 640px;
  margin: 0 auto;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.country-select {
  color: var(--brown-grey);
  font-weight: 600;
  text-align: center;
  background: var(--olive);
  padding: 0 8px;
  width: 100%;
}

.country-select-buttons > button {
  margin: 8px 8px;
}

@media screen and (min-width: 640px) {
  .Country {
    border: 2px solid var(--olive);
  }

  .country-wrapper > .Card {
    max-width: 640px;
  }

  .country-select {
    min-width: 350px;
  }
}
