.World {
  color: var(--white);
  background-color: var(--brown-grey);
}

.World > header {
  padding: 8px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.World > footer {
  padding: 8px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
