.App {
  font-size: 0.85rem;
}

.App > main {
  display: flex;
  flex-wrap: wrap;
}

.App > main > section {
  flex-grow: 1;
}

/* TODO decide section bottom margin */
.App > main > section:not(:last-child) {
  margin-bottom: 8px;
}

.App > main > section:last-child {
  margin-bottom: 8px;
}

.switch input {
  display: none;
}

@media only screen and (min-width: 375px) {
  .App {
    font-size: 1rem;
  }
}
